.chatEnterBtn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    background-color: rgb(46, 46, 46);
    color: whitesmoke;
    cursor: pointer;

    position: fixed;
    right: 3rem;
    bottom: 3rem;
}