.PWForm {
    margin-top: 2rem;

    &__Desc {
        font-size: 0.75rem;
        color: grey;
        padding-left: 1rem;
    }

    &__row {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    &__submitBtn {
        width: 10rem;
        height: 3rem;
        margin-top: 1rem;
    }
}