.Page {
    // width: 100vw;
    // height: 100vh;
    
    // display: flex;
    // justify-content: center;
    // align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    &__SettingsPage {
        width: 600px;
        margin: 0 auto;
    }
}

// .ChatPop {
//     position: fixed;
//     right: 3rem;
//     bottom: 10rem;
//     background-color: rgb(79, 79, 62);
// }

.Settings {
    &__Section {
        margin-bottom: 2rem;
    }

    &__Withdrawal {
        display: flex;
        justify-content: center;
        margin-top: 5rem;

        &__WithdrawalBtn {
            margin: 0 auto;
        }
    }

}