.Footer {
    height: 22rem;
    margin-top: 5rem;
    padding: 2rem;

    background-color: rgb(236, 236, 236);
    color: rgb(108, 108, 108);

    &__inner {
        max-width: 1080px;
        margin: 0 auto;

        &__text {
            font-weight: 100;
            font-size: 0.875rem;
            color: grey;
        }

        p {
            margin: 0.125rem;
        }

        &__inc {
            margin-top: 2rem;
            span {
                margin-right: 1rem;
            }

            strong {
                font-weight: bold;
            }

            &__logo {
                height: 2.5rem;
                display: block;
            }
        }

        &__bottom {
            // margin-top: 0.75rem;
            color: rgb(190, 190, 190);
        }
    }

    &__logo {
        width: 150px;
        opacity: 0.75;
        margin-bottom: 0.5rem;
        margin-left: -10px;
    }
}