.ItemList {
    display: grid;
    
    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }

    &__noResult {
        margin: 10rem;
    }
}

.ItemList.lg {
    grid-template-columns: repeat(4, minmax(auto, 17rem));
}
.ItemList.md {
    grid-template-columns: repeat(5, minmax(auto, 13rem));
}
.ItemList.sm {
    grid-template-columns: repeat(7, minmax(auto, 9.5rem));
}