.Message {

    // &__msgbox {
    //     width: 90%;
    //     max-width: 90%;
    //     display:block;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     white-space: nowrap;
    //     // text-align: right;
    // }

    &__my {
        background-color: #8ba5ff;
        border-radius: 1rem 1rem 0rem 1rem;
        max-width: 100%;
        padding: 0.5rem;
        
        &__wrapper {
            justify-content: flex-end !important;
            padding: 4px 16px !important;
            width: 100%;

            // display: inline-block;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
        }

        &__name {
            text-align: right;
        }

        &__time {
            text-align: right;
        }
    }
    
    &__other {
        background-color: #c4c4c4;
        margin-right: auto;
        border-radius: 0rem 1rem 1rem 1rem;
        padding: 0.5rem;

        &__time {
            text-align: left;
        }
        
    }

    &__time {
        font-size: 0.75rem;
        color: grey;
    }

    &__username {
        margin-bottom: 0.25rem;
        font-size: 0.875rem;
    }
}